venv/
env/
logs/
.ipynb_checkpoints/
__pycache__/
.jupyter/
.vscode/
.idea/
test/
tests/

*.pyc
*.pyd
*.log
*.ipynb_checkpoints
*.bat
*.sh
*.ps1
!run.bat
!run.sh
*.egg-info/
build/
dist/

*.net
*.cir
