jupyterlab
numpy
matplotlib
scipy
pandas
ipywidgets
ipympl
anywidget
black
black[jupyter]
torch
pretty-midi
tqdm
pyfluidsynth
# https://github.com/FluidSynth/fluidsynth/releases/tag/v2.5.4
sounddevice
cma